<configuration>
    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логгер для Logbook -->
    <logger name="org.zalando.logbook" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- Общие логи приложения -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
