<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update User Roles</title>
</head>
<body>
<h1>Update User Roles</h1>
<form th:action="@{/updateUserRoles}" th:object="${user}" method="post">
    <!-- Другие поля формы -->

    <!-- Выбор ролей -->
    <label for="roles">Roles:</label>
    <select id="roles" name="roles" multiple>
        <!-- Используйте Thymeleaf для динамического создания списка ролей -->
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:text="${role.name}"
                th:selected="${user.roles.contains(role)}">
            <!-- Текст внутри option будет заменен Thymeleaf -->
        </option>
    </select>

    <button type="submit">Save</button>
</form>
</body>
</html>