<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Добро пожаловать на наш сайт!</h2>
    <p>Пожалуйста, <a th:href="@{/login}">войдите</a> для доступа к вашему аккаунту.</p>
    <!-- Кнопка Logout -->
    <form th:action="@{/logout}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
</div>
</body>
</html>