<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новый пользователь</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Создать нового пользователя</h2>
    <form th:action="@{/admin/new}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="surname">Фамилия:</label>
            <input type="text" id="surname" th:field="*{surname}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="age">Возраст:</label>
            <input type="number" id="age" th:field="*{age}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="roles">Роли:</label>
            <select id="roles" th:field="*{roles}" multiple class="form-control">
                <option th:each="role : ${allRoles}"
                        th:value="${role.id}"
                        th:text="${role.name}"
                        th:selected="${user.roles.contains(role)}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <!-- Кнопка Logout -->
    <form th:action="@{/logout}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
</div>
</body>
</html>